@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

textarea:hover,
textarea:active,
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

@font-face {
  font-family: nepali;
  src: url("./fonts/ARAP\ \ 003\ Regular.ttf");
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  margin-top: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 10px;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(170 170 170 / 0.5);
}
